In [1]:
import pandas as pd
import numpy as np

In [2]:
# from_tuple
# from_product
# from data frame

In [3]:
# Multi Index
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [5]:
arrays

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [6]:
tuples=list(zip(*arrays))

In [7]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [8]:
L=['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']
L1=['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']

In [9]:
print(L)
print(L1)

['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']
['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']

In [10]:
T=list(zip(L,L1))

In [11]:
print(T)

[('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]

In [12]:
T[0]

('bar', 'one')

In [13]:
print(type(T[0]))

<class 'tuple'>

In [14]:
print(type(T))

<class 'list'>

In [15]:
mult=pd.MultiIndex.from_tuples(tuples,names=['first','last'])

In [16]:
mult

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           codes=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'last'])

In [17]:
ser=pd.Series(np.random.rand(8),index=mult)

In [18]:
ser

first  last
bar    one     0.368409
       two     0.886884
baz    one     0.009229
       two     0.814960
foo    one     0.194866
       two     0.581842
qux    one     0.833930
       two     0.568410
dtype: float64

In [19]:
L=[1,2,3,4]
L1=['one','two','three','four']

In [20]:
list_result=list(zip(L,L1))

In [21]:
list_result

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [22]:
L=[2,3,4,5]
L1=['One','Two','One','Two']
list_result1=list(zip(L,L1))

In [23]:
list_result1

[(2, 'One'), (3, 'Two'), (4, 'One'), (5, 'Two')]

In [24]:
df=pd.DataFrame(mult)

In [25]:
df

            0
0  (bar, one)
1  (bar, two)
2  (baz, one)
3  (baz, two)
4  (foo, one)
5  (foo, two)
6  (qux, one)
7  (qux, two)

In [27]:
arrays1 = [['bar', 'bar','bar', 'baz', 'baz','baz', 'foo', 'foo','foo', 'qux', 'qux','qux'],
          ['one', 'two','three', 'one', 'two','three', 'one', 'two','three', 'one', 'two','three']]

In [28]:
arrays1

[['bar',
  'bar',
  'bar',
  'baz',
  'baz',
  'baz',
  'foo',
  'foo',
  'foo',
  'qux',
  'qux',
  'qux'],
 ['one',
  'two',
  'three',
  'one',
  'two',
  'three',
  'one',
  'two',
  'three',
  'one',
  'two',
  'three']]

In [30]:
t2=list(zip(*arrays1))

In [31]:
t2

[('bar', 'one'),
 ('bar', 'two'),
 ('bar', 'three'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('baz', 'three'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('foo', 'three'),
 ('qux', 'one'),
 ('qux', 'two'),
 ('qux', 'three')]

In [33]:
mutl1=pd.MultiIndex.from_tuples(t2,names=['first','second'])

In [35]:
mutl1

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'three', 'two']],
           codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3], [0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1]],
           names=['first', 'second'])

In [38]:
df=pd.Series(np.random.rand(12),index=mutl1)

In [42]:
df.unstack()

second       one     three       two
first
bar     0.073917  0.315076  0.390519
baz     0.391965  0.514711  0.076523
foo     0.031094  0.056227  0.041458
qux     0.974631  0.553945  0.049043

In [43]:
df

first  second
bar    one       0.073917
       two       0.390519
       three     0.315076
baz    one       0.391965
       two       0.076523
       three     0.514711
foo    one       0.031094
       two       0.041458
       three     0.056227
qux    one       0.974631
       two       0.049043
       three     0.553945
dtype: float64

In [44]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
mult=pd.MultiIndex.from_product(iterables,names=['first','second'])
print(mult)

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           codes=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [45]:
df = pd.DataFrame([['bar', 'one'], ['bar', 'two'],['foo', 'one'], ['foo', 'two']],columns=['first', 'second'])
df_mult=pd.MultiIndex.from_frame(df)
print(df_mult)

MultiIndex(levels=[['bar', 'foo'], ['one', 'two']],
           codes=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['first', 'second'])

In [46]:
pwd

'C:\\Users\\HP P DTS'

In [47]:
cd Desktop/

C:\Users\HP P DTS\Desktop

In [49]:
csv=pd.read_excel('sales-funnel.xlsx')

In [50]:
csv

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [51]:
csv_mutl_index=pd.MultiIndex.from_frame(csv)

In [52]:
csv_mutl_index

MultiIndex(levels=[[141962, 146832, 163416, 218895, 239344, 307599, 412290, 688981, 714466, 729833, 737550, 740150], ['Barton LLC', 'Fritsch, Russel and Anderson', 'Herman LLC', 'Jerde-Hilpert', 'Kassulke, Ondricka and Metz', 'Keeling LLC', 'Kiehn-Spinka', 'Koepp Ltd', 'Kulas Inc', 'Purdy-Kunde', 'Stokes LLC', 'Trantow-Barrows'], ['Cedric Moss', 'Craig Booker', 'Daniel Hilton', 'John Smith', 'Wendy Yule'], ['Debra Henley', 'Fred Anderson'], ['CPU', 'Maintenance', 'Monitor', 'Software'], [1, 2, 3, 5], [5000, 7000, 10000, 30000, 35000, 40000, 65000, 100000], ['declined', 'pending', 'presented', 'won']],
           codes=[[8, 8, 8, 10, 1, 3, 3, 6, 11, 0, 2, 4, 4, 5, 7, 9, 9], [11, 11, 11, 1, 6, 8, 8, 3, 0, 2, 9, 10, 10, 4, 5, 7, 7], [1, 1, 1, 1, 2, 2, 2, 3, 3, 0, 0, 0, 0, 4, 4, 4, 4], [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [0, 3, 1, 0, 0, 0, 3, 1, 0, 0, 0, 1, 3, 1, 0, 0, 2], [0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 2, 3, 1, 1], [3, 2, 0, 4, 6, 5, 2, 0, 4, 6, 3, 0, 2, 1, 7, 6, 0], [2, 2, 1, 0, 3, 1, 2, 1, 0, 3, 2, 1, 2, 3, 3, 0, 2]],
           names=['Account', 'Name', 'Rep', 'Manager', 'Product', 'Quantity', 'Price', 'Status'])

In [53]:
# Pivot table

In [54]:
f = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [56]:
f

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [58]:
pv=f.pivot_table(index='foo',columns='bar',values='baz')

In [59]:
pv

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [60]:
csv

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [61]:
csv_pv=csv.pivot_table(index='Name',columns=['Account','Rep','Manager'],values='Price')

In [62]:
csv_pv

Account,141962,146832,163416,218895,239344,307599,412290,688981,714466,729833,737550,740150
Rep,Cedric Moss,Daniel Hilton,Cedric Moss,Daniel Hilton,Cedric Moss,Wendy Yule,John Smith,Wendy Yule,Craig Booker,Wendy Yule,Craig Booker,John Smith
Manager,Fred Anderson,Debra Henley,Fred Anderson,Debra Henley,Fred Anderson,Fred Anderson,Debra Henley,Fred Anderson,Debra Henley,Fred Anderson,Debra Henley,Debra Henley
Name,,,,,,,,,,,,
Barton LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0
"Fritsch, Russel and Anderson",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0,NaN
Herman LLC,65000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jerde-Hilpert,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,NaN,NaN,NaN
"Kassulke, Ondricka and Metz",NaN,NaN,NaN,NaN,NaN,7000.0,NaN,NaN,NaN,NaN,NaN,NaN
Keeling LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,NaN
Kiehn-Spinka,NaN,65000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Koepp Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0,NaN,NaN
Kulas Inc,NaN,NaN,NaN,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purdy-Kunde,NaN,NaN,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stokes LLC,NaN,NaN,NaN,NaN,7500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trantow-Barrows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000.0,NaN,NaN,NaN

In [63]:
stck=csv_pv.unstack()

In [64]:
stck

Account  Rep            Manager        Name
141962   Cedric Moss    Fred Anderson  Barton LLC                          NaN
                                       Fritsch, Russel and Anderson        NaN
                                       Herman LLC                      65000.0
                                       Jerde-Hilpert                       NaN
                                       Kassulke, Ondricka and Metz         NaN
                                       Keeling LLC                         NaN
                                       Kiehn-Spinka                        NaN
                                       Koepp Ltd                           NaN
                                       Kulas Inc                           NaN
                                       Purdy-Kunde                         NaN
                                       Stokes LLC                          NaN
                                       Trantow-Barrows                     NaN
146832   Daniel Hilton  Debra Henley   Barton LLC                          NaN
                                       Fritsch, Russel and Anderson        NaN
                                       Herman LLC                          NaN
                                       Jerde-Hilpert                       NaN
                                       Kassulke, Ondricka and Metz         NaN
                                       Keeling LLC                         NaN
                                       Kiehn-Spinka                    65000.0
                                       Koepp Ltd                           NaN
                                       Kulas Inc                           NaN
                                       Purdy-Kunde                         NaN
                                       Stokes LLC                          NaN
                                       Trantow-Barrows                     NaN
163416   Cedric Moss    Fred Anderson  Barton LLC                          NaN
                                       Fritsch, Russel and Anderson        NaN
                                       Herman LLC                          NaN
                                       Jerde-Hilpert                       NaN
                                       Kassulke, Ondricka and Metz         NaN
                                       Keeling LLC                         NaN
                                                                        ...
729833   Wendy Yule     Fred Anderson  Kiehn-Spinka                        NaN
                                       Koepp Ltd                       35000.0
                                       Kulas Inc                           NaN
                                       Purdy-Kunde                         NaN
                                       Stokes LLC                          NaN
                                       Trantow-Barrows                     NaN
737550   Craig Booker   Debra Henley   Barton LLC                          NaN
                                       Fritsch, Russel and Anderson    35000.0
                                       Herman LLC                          NaN
                                       Jerde-Hilpert                       NaN
                                       Kassulke, Ondricka and Metz         NaN
                                       Keeling LLC                         NaN
                                       Kiehn-Spinka                        NaN
                                       Koepp Ltd                           NaN
                                       Kulas Inc                           NaN
                                       Purdy-Kunde                         NaN
                                       Stokes LLC                          NaN
                                       Trantow-Barrows                     NaN
740150   John Smith     Debra Henley   Barton LLC                      35000.0
                                       Fritsch, Russel and Anderson        NaN
                                       Herman LLC                          NaN
                                       Jerde-Hilpert                       NaN
                                       Kassulke, Ondricka and Metz         NaN
                                       Keeling LLC                         NaN
                                       Kiehn-Spinka                        NaN
                                       Koepp Ltd                           NaN
                                       Kulas Inc                           NaN
                                       Purdy-Kunde                         NaN
                                       Stokes LLC                          NaN
                                       Trantow-Barrows                     NaN
Length: 144, dtype: float64

In [69]:
unstck=stck.unstack()

In [70]:
unstck

,,Name,Barton LLC,"Fritsch, Russel and Anderson",Herman LLC,Jerde-Hilpert,"Kassulke, Ondricka and Metz",Keeling LLC,Kiehn-Spinka,Koepp Ltd,Kulas Inc,Purdy-Kunde,Stokes LLC,Trantow-Barrows
Account,Rep,Manager,,,,,,,,,,,,
141962,Cedric Moss,Fred Anderson,NaN,NaN,65000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146832,Daniel Hilton,Debra Henley,NaN,NaN,NaN,NaN,NaN,NaN,65000.0,NaN,NaN,NaN,NaN,NaN
163416,Cedric Moss,Fred Anderson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30000.0,NaN,NaN
218895,Daniel Hilton,Debra Henley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,NaN,NaN,NaN
239344,Cedric Moss,Fred Anderson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7500.0,NaN
307599,Wendy Yule,Fred Anderson,NaN,NaN,NaN,NaN,7000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412290,John Smith,Debra Henley,NaN,NaN,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688981,Wendy Yule,Fred Anderson,NaN,NaN,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,NaN,NaN,NaN
714466,Craig Booker,Debra Henley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000.0
729833,Wendy Yule,Fred Anderson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0,NaN,NaN,NaN,NaN
737550,Craig Booker,Debra Henley,NaN,35000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740150,John Smith,Debra Henley,35000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
unstck.index.names

FrozenList(['Account', 'Rep', 'Manager'])

In [77]:
unstck.iloc[1]

Name
Barton LLC                          NaN
Fritsch, Russel and Anderson        NaN
Herman LLC                          NaN
Jerde-Hilpert                       NaN
Kassulke, Ondricka and Metz         NaN
Keeling LLC                         NaN
Kiehn-Spinka                    65000.0
Koepp Ltd                           NaN
Kulas Inc                           NaN
Purdy-Kunde                         NaN
Stokes LLC                          NaN
Trantow-Barrows                     NaN
Name: (146832, Daniel Hilton, Debra Henley), dtype: float64

In [79]:
unstck.index.names

FrozenList(['Account', 'Rep', 'Manager'])

In [83]:
csv_pv

Account,141962,146832,163416,218895,239344,307599,412290,688981,714466,729833,737550,740150
Rep,Cedric Moss,Daniel Hilton,Cedric Moss,Daniel Hilton,Cedric Moss,Wendy Yule,John Smith,Wendy Yule,Craig Booker,Wendy Yule,Craig Booker,John Smith
Manager,Fred Anderson,Debra Henley,Fred Anderson,Debra Henley,Fred Anderson,Fred Anderson,Debra Henley,Fred Anderson,Debra Henley,Fred Anderson,Debra Henley,Debra Henley
Name,,,,,,,,,,,,
Barton LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0
"Fritsch, Russel and Anderson",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0,NaN
Herman LLC,65000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jerde-Hilpert,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,NaN,NaN,NaN
"Kassulke, Ondricka and Metz",NaN,NaN,NaN,NaN,NaN,7000.0,NaN,NaN,NaN,NaN,NaN,NaN
Keeling LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,NaN
Kiehn-Spinka,NaN,65000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Koepp Ltd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0,NaN,NaN
Kulas Inc,NaN,NaN,NaN,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purdy-Kunde,NaN,NaN,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stokes LLC,NaN,NaN,NaN,NaN,7500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trantow-Barrows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15000.0,NaN,NaN,NaN

In [84]:
csv_pv.index.names

FrozenList(['Name'])

In [101]:
a=csv_pv.loc['Barton LLC']

In [102]:
a

Account  Rep            Manager
141962   Cedric Moss    Fred Anderson        NaN
146832   Daniel Hilton  Debra Henley         NaN
163416   Cedric Moss    Fred Anderson        NaN
218895   Daniel Hilton  Debra Henley         NaN
239344   Cedric Moss    Fred Anderson        NaN
307599   Wendy Yule     Fred Anderson        NaN
412290   John Smith     Debra Henley         NaN
688981   Wendy Yule     Fred Anderson        NaN
714466   Craig Booker   Debra Henley         NaN
729833   Wendy Yule     Fred Anderson        NaN
737550   Craig Booker   Debra Henley         NaN
740150   John Smith     Debra Henley     35000.0
Name: Barton LLC, dtype: float64

In [103]:
print(type(a))

<class 'pandas.core.series.Series'>

In [104]:
a.to_csv('a.csv')

E:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [105]:
pwd

'C:\\Users\\HP P DTS\\Desktop'